<p id="notice"><%= notice %></p>

<h1>Manjula Babies</h1>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Total Breastfed</th>
      <th>Quantity Breastfed (cc)</th>
      <th>Breastfed time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @babies.each do |baby| %>
      <tr>
        <td><%= baby.name %></td>
        <td><%= baby.total_breastfeeding%> </td>
        <td><%= baby.quantity_breastfeeding%> </td>
        <td><%= baby.time_breastfeeding%></td>
        <td><%= link_to 'Show', baby %></td>
        <td><%= link_to 'Edit', edit_baby_path(baby) %></td>
        <td><%= link_to 'Destroy', baby, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Breastfeedings list', breastfeedings_path, class:"btn btn-outline-secondary" %>
<%= link_to 'New Baby', new_baby_path, class:"btn btn-outline-primary mr-3" %>
